*{
    box-sizing: border-box;
}

.box-container {
    display: flex;
    flex-direction: rap;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    border:1px solid #dbdbdb;

    width: 300px;
    height: 300px;
}

.box1 {
    border: 1px solid #141414;

    width: 50px;
    height: 50px;

    background-color: #333fff;

    color: #ffffff;
}